.text-center {
    text-align: center;
}

header {
    background-color: #279EFF;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}

body {
    font-family: monospace;
}

.input-section {
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #279EFF;
}

input {
    padding: 10px;
    border: 2px solid #279EFF;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #0C356A;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #279EFF;
}

button:hover {
    background-color: #0C356A;
    color: white;
}

button:active {
    transform: translateY(3px);
    background-color: #279EFF;
}